{% extends "layout.html" %}

{% block content %}
    <form method="POST" action="{{ url_for('edit_task', id=task.id) }}">
        <input class="h2 taskname" type="text" name="meeting_name" value="{{ task.name }}">
        <br>
        <label>Link: </label>
        <input type="text" name="meeting_link" value="{{ task.browser_link() }}">
        <br>
        <h4>Add Run Time</h4>
        <label>Every </label>
        <select name="trigger_day" required>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
        </select>
        <label> at </label>
        <input type="time" name="time">
        <input id="addruntime" type="submit" name="action" value="+">
        <div>
            <label class="h4 runtime">Run Times</label>
            {% if task.enabled %}
            <input type="checkbox" class="checkbox" name="enabled" id="chk">
            {% else %}
            <input type="checkbox" class="checkbox" name="enabled" id="chk" checked>
            {% endif %}
            <label class="label" for="chk">
                <div class="ball"></div>
            </label>
        </div>
        {% for trigger in task.triggers %}
            <!-- <label>Every </label> -->
            <select class="times" id="trigger_day{{ loop.index }}" name="trigger_day{{ loop.index }}">
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
            </select>
            <label> at </label>
            <input class="times" type="time" name="time{{ loop.index }}" value="{{ trigger.formatted_time() }}">
            <br>
        {% endfor %}
        <br>
        <input type="submit" name="action" value="Save Changes">
    </form>
{% endblock content %}

{% block script %}
<script>
    {% for trigger in task.triggers %}
        selectElement(`trigger_day{{ loop.index }}`, `{{ trigger.formatted_day() }}`)
    {% endfor %}

    function selectElement(id, valueToSelect) {
        let element = document.getElementById(id);
        element.value = valueToSelect;
    }
</script>
{% endblock script %}