{% extends "layout.html" %}

{% block content %}
<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Link</th>
        <th scope="col">Run Times</th>
      </tr>
    </thead>
    <tbody>
        {% for meeting in meetings %}
            <tr class="clickable" onclick="window.location='/{{ meeting.id }}/edit_task';">
                <td>{{ meeting.get_task_name() }}</td>
                <td class="text"><span>{{ meeting.get_link() }}</span></td>
                <td>
                    {% for trigger in meeting.triggers[1:] %}
                        {{ trigger }}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock content %}